*{
    padding: 0;
    margin: 0;
}

/* Font Styles */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Shared Styles */
.container{
    width: 1280px;
    margin: 0 auto;
}

.bg-greenish{
    background-color: #C6E4D6;
}

.normal-text{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

.section-heading{
    font-size: 40px;
    margin-bottom: 24px;
}




.btn1{
    padding: 15px 30px;
    border: none;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.btn1:hover{
    background-color: #f5f5f5;
    color: #000;
    transition: 500ms ease-in-out;
    border: 1px solid #000;
    
}




/* Navbar Style */

header{
    background-color: #F1F1F3;
    padding: 24px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-nav{
    padding: 15px 30px;
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.btn-nav:hover{
    background-color: #006A50;
    color: #fff;
    transition: 500ms ease-in-out;
    
}

nav h2{
    font-size: 32px;
}


/* Main Style */

main{
    background-color: #F1F1F3;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 80px 60px;
    border-radius: 24px;

}

.hero-content{
    align-content: center;
}

.hero-content p{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.hero-content h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

/* Pillars Section Style  */

.pillars{
    padding: 80px 0;
}

.pillars-cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.pillars-cards-content{
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillars-cards-content h3{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
}


/* Vision Section Style  */



.vision-description{
    font-size: 16px;
}
.vision-cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 32px 0;
}
.vision-cards-content{
    padding: 32px;
    border-radius: 16px;
}
.vision-cards-content h3{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.btn2{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    color: #fff;
}

.btn2:hover{
    background-color: #f5f5f5;
    color: #000;
    transition: 500ms ease-in-out;
    border: 1px solid #000;
    
}

.blue-btn{
    background-color: #5490F5;
}

.green-btn{
    background-color: #09A15C;
}

.orange-btn{
    background-color: #FFC239;
}

.bg-bluish{
    background-color: rgba(84, 144, 245, 0.2);
}

.bg-yelloish{
    background-color: #F7EBCF;
}

/* Quote Section Style  */

.quote{

    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
}

.quote-container{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 24px 0;

}

.quote-container h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;


}

/* News Sewction Style */

.news{
    padding: 80px 0;
}

.news-card{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    background-color: #fff;
    border-radius: 24px;
    margin: 12px 0;
    padding: 48px;
}

.news-card-img img{
    border-radius: 24px;
}

.news-card-content h3{
    font-size: 32px;
}
.news-card-content img{
    margin: 12px 0;
}

.news-card-content p{
    margin: 12px 0;
}

.news-card-content button{
    margin-top: 20px;
}

.news-card-reverse{
    flex-direction: row-reverse;
}